.price {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	color: #f2f2f3;
	font-style: normal;
	text-align: right;
}

.price.default svg {
	width: 24px;
	height: 24px;
}

.price.medium svg {
	width: 36px;
	height: 36px;
}
