.wrapper {
	max-width: 400px;
}

.link {
	display: block;
	width: 100%;
	color: #8585ad;
	text-align: left;
	text-decoration: none;
	background-color: unset;
	border: none;
	cursor: pointer;
}

.active {
	color: #f2f2f3;
}
