.card {
	background-color: var(--background);
	border-radius: 40px;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	color: inherit;
	text-decoration: none;
}
