.burger_constructor,
.scroll_area {
	display: flex;
	flex-direction: column;
}

.scroll_area > *:last-child {
	margin-bottom: 0;
}

.burger_constructor {
	width: 600px;
	color: var(--text-primary-color);
}

.scroll_area {
	overflow: hidden scroll;
}

.sum_wrapper {
	display: inline-flex;
	justify-content: flex-end;
}
