.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.modal_wrapper {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 720px;
	background: var(--background);
	border-radius: calc(var(--offset-base-size) * 10);
}

.close_button {
	all: unset;
	position: absolute;
	top: 40px;
	right: 40px;
	display: block;
	cursor: pointer;
}
