.order {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 100%;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.name {
	align-self: center;
}
