html,
body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

#root {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.form {
	gap: 24px;
}

.flex-center {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
	.custom-scroll {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}

	body {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}
}
